@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  font-family: "Roboto", serif;
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: inherit !important; /* Keeps the text color consistent */
}

ul#keyFeature-list {
  list-style: none; /* remove default bullet */
  padding: 0; /* reset default padding */
}

ul#keyFeature-list li {
  display: flex; /* aligns image + text nicely */
  align-items: center;
  font-size: 18px;
  margin-bottom: 8px; /* optional spacing between items */
}

ul#keyFeature-list li::before {
  content: url("./assets/Relume.png");
  display: inline-block;
  width: 20px; /* adjust size */
  height: 20px;
  margin-right: 12px; /* 👈 space between marker and text */
}

section#hero::after {
  content: "";
  height: 300px;
  width: 500px;
  background-image: url("./assets/vector-plane.png");
  background-size: cover;
  display: flex;
  position: absolute;
  bottom: 0px;
  z-index: -1;
  
}
